$include /etc/inputrc

#https://stackoverflow.com/questions/1030182/how-do-i-change-bash-history-completion-to-complete-whats-already-on-the-line
"\e[A": history-search-backward
"\e[B": history-search-forward


#https://www.topbug.net/blog/2017/07/31/inputrc-for-humans/
set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
